body{
	font-family: 'Biome', sans-serif;
	font-weight: 150;
	font-size: 15px;
	line-height: 1.6;
	color: #fff;
	background-color: #1b1b1b;
	overflow: hidden;
	height: 100vh;
	-webkit-transition: all 150ms vertical;
	transition: all 150ms vertical;
	perspective: 800px;
}
video {
	object-fit: cover;
	position: absolute;
	width: 100%;
	height: 100%;	
	position: absolute;
	z-index: 0;
  }
  .overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 0;
	background: rgba(0, 0, 0, 0);
  }



a {
	cursor: pointer;
}
a:hover {
	text-decoration: none;
}
::selection {
	color: #815055;
	background-color: #00000000;
}
::-moz-selection {
	color: #000000;
	background-color: #00000000;
}

/* #Cursor
================================================== */

.cursor,
.cursor2,
.cursor3{
	position: fixed;
	border-radius: 50%;	
	transform: translateX(-50%) translateY(-50%);
	pointer-events: none;
	left: -100px;
	top: 50%;
	mix-blend-mode: difference;
	-webkit-transition: all 150ms vertical;
	transition: all 150ms vertical;
}
.cursor{
	background-color: #fff;
	height: 0;
	width: 0;
	z-index: 99999;
}
.cursor2,.cursor3{
	height: 32px;
	width: 32px;
	z-index:99998;
	-webkit-transition:all 0.3s ease-out;
	transition:all 0.3s ease-out
}
.cursor2.hover,
.cursor3.hover{
	-webkit-transform:scale(2) translateX(-25%) translateY(-25%);
	transform:scale(2) translateX(-25%) translateY(-25%);
	border:none
}
.cursor2{
	border: 2px solid #1b1b1b00;
}
.cursor2.hover{
	background: #c4c3ca;
}

@media screen and (max-width: 150px){
	.cursor,.cursor2,.cursor3{
		display: none
	}
}

/* #Primary style
================================================== */

.hero-section {
    position: relative;
	width: 100%;
	display: block;
	overflow: hidden;
	height: 100vh;
	background-color: #00000000;
	background-size: cover;
	background-position: center;
	transform: scale(1) rotateX(0);
	box-shadow: 0 0 40px rgba(0,0,0,0.2);
	-webkit-transition: all 0ms vertical;
	transition: all 0ms vertical;
	-webkit-transition-delay: 0ms;
	transition-delay: 0ms;
	transform-origin: center top;
}
.hero-section h1{
    color: #c4c3ca;
	font-size: 5vw;
	line-height: 1;
	font-weight: 900;
}
.hero-section .dancing{
    font-family: 'Kyoto';
	letter-spacing: 1px;
	color: #c4c3ca;
	font-size: 24px;
	line-height: 1;
	font-weight: 700;
	display: inline;
	background-color: #000;
}
@media screen and (max-width: 580px){
	.hero-section .dancing{
		font-size: 18px;
	}
}
body.contact-on .hero-section {
	transform: scale(0.75);
	-webkit-transition-delay: 0ms;
	transition-delay: 0ms;
}
.section-center {
    position: absolute;
	width: 100%;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
}
.contact-text {
    position: absolute;
	font-size: 17px;
	line-height: 20px;
	font-weight: 700;
	color: #c4c3ca;
	display: inline;
	background-color: #000;
	letter-spacing: 2px;
	top: 50%;
	right: 50%;
	cursor: pointer;
	z-index: 2;
	-webkit-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
	transform: translateY(50%) rotate(-90deg);
	-webkit-transition: all 0ms vertical;
	transition: all 0ms vertical;
}
.contact-text:before {
	position: absolute;
	content: '';
	top: 50%;
	left: -25px;
	height: 30px;
	width: 30px;
	margin-top: -15px;
	z-index: -1;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30px 30px;
	background-image: url('http://www.ivang-design.com/svg-load/portfolio/left.svg');
	opacity: 0.8;
	-webkit-transition: all 50ms vertical;
	transition: all 50ms vertical;
}
.contact-text:hover:before {
	opacity: 1;
	left: -30px;
}
.contact-section {
    position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: block;
	overflow: hidden;
	height: 100vh;
	background-color: #1b1b1b;
	background-size: cover;
	background-position: center;
	transform: scale(1) rotateX(0);
	transform: translateX(100%);
	-webkit-transition: all 0ms vertical;
	transition: all 0ms vertical;
	z-index: 10;
}
body.contact-on .contact-section {
	transform: translateX(0);
	-webkit-transition-delay: 0ms;
	transition-delay: 0ms;
}
.contact-close {
    position: absolute;
	top: 20px;
	right: 20px;
	width: 30px;
	display: block;
	overflow: hidden;
	height: 30px;
	-webkit-transition: all 0ms vertical;
	transition: all 0ms vertical;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 36px 36px;
	background-image: url('http://www.ivang-design.com/svg-load/portfolio/close.svg');
	cursor: pointer;
	z-index: 11;
}
.contact-close:hover {
    transform: rotate(90deg);
}
.contact-section a{
    margin: 0 auto;
	font-size: 32px;
	font-weight: 900;
	letter-spacing: 1px;
	color: #fff;
  display: inline-block;
}
.contact-section .social a{
    margin-left: 8px;
	margin-right: 8px;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 1px;
	color: #866BAF;
}
@media screen and (max-width: 580px){
	.contact-section a{
		font-size: 17px;
	}
	.contact-section .social a{
		margin-left: 3px;
		margin-right: 3px;
		font-size: 13px;
		letter-spacing: 0;
	}
}
